<div class="voteIndex">
  <header class="voteTitle">
    <img src="../../assets/images/panel-head-title.png" alt="">
  </header>
  <div class="musicCtrl">
    声音
  </div>
  <div class="progressBox">
    <div class="gressTitle tc fl">
      投票倒计时
    </div>
    <div class="progressCon">
      <div class="progressBar">

      </div>
      <p class="countDown">59:00</p>
    </div>
  </div>
  <div class="chartTypeChange">
    <div class="changeBtn active kLine">
      K
      <br/>
      线
    </div>
    <div class="changeBtn fLine">
      分
      <br/>
      时
    </div>
  </div>
  <!--图标start-->
  <div id="chart-wrap">

  </div>
  <!--图标end-->
  <div class="selJewel">
    <div class="jewelItem fl">
      <div class="innerBg active">
        <img src="../../assets/images/icon-diamond-1.png" alt="">
        <p>50钻石</p>
      </div>
    </div>
    <div class="jewelItem fl">
      <div class="innerBg">
        <img src="../../assets/images/icon-diamond-2.png" alt="">
        <p>50钻石</p>
      </div>
    </div>
    <div class="jewelItem fl">
      <div class="innerBg">
        <img src="../../assets/images/icon-diamond-3.png" alt="">
        <p>50钻石</p>
      </div>
    </div>
    <div class="jewelItem fl">
      <div class="innerBg">
        <img src="../../assets/images/icon-diamond.png" alt="">
        <p>自定义钻石</p>
      </div>
    </div>
  </div>
  <div class="voteArea">
    <div class="voteBtn voteRed">
      <h3 class="tc">投票红</h3>
      <p class="tc">
        热度:100%
      </p>
    </div>
    <div class="reaIcon">

    </div>
    <div class="voteBtn voteGreen">
      <h3 class="tc">投票红</h3>
      <p class="tc">
        热度:100%
      </p>
    </div>
  </div>
</div>
