<div class="voteList">
  <div class="tableHeader">
    <div class="tableBtn" (click)="changeType(1)" [ngClass]="{'active':listType==1?true:false}">
      投票单
    </div>
    <div class="tableBtn" (click)="changeType(2)" [ngClass]="{'active':listType==2?true:false}">
      历史投票
    </div>
  </div>
  <div class="tableContent vote" [ngClass]="{'active':listType==1?true:false}">
    <div class="noContent">
      暂无投票记录
    </div>
  </div>
  <div class="tableContent voteHistory" [ngClass]="{'active':listType==2?true:false}">
    <div class="noContent">
      暂无历史记录
    </div>
  </div>
</div>
