<div class="voteIndex">
  <header class="voteTitle">
    <img src="../../assets/images/panel-head-title.png" alt="">
  </header>
  <div class="musicCtrl">
    声音
  </div>
  <div class="progressBox">
    <div class="gressTitle tc fl">
      投票倒计时
    </div>
    <div class="progressCon">
      <div class="progressBar" [ngStyle]="{'width':(countNum/59*98)+'%'}">

      </div>
      <p class="countDown">00:{{countNum}}</p>
    </div>
  </div>
  <div class="chartTypeChange">
    <div class="changeBtn active kLine" [ngClass]="{'active': chartType==1?true:false}" (click)="changeToKLine()">
      K
      <br/>
      线
    </div>
    <div class="changeBtn fLine" [ngClass]="{'active': chartType==2?true:false}" (click)="changeToFLine()">
      分
      <br/>
      时
    </div>
  </div>
  <!--图标start-->
  <div id="chart-wrap">
    <echarts-ng2 #myEcharts></echarts-ng2>
  </div>
  <!--图标end-->
  <div class="selJewel">
    <div class="jewelItem fl">
      <div class="innerBg" (click)="selJewel(50,1)" [ngClass]="{'active':selType==1}">
        <img src="../../assets/images/icon-diamond-1.png" alt="">
        <p>50钻石</p>
      </div>
    </div>
    <div class="jewelItem fl">
      <div class="innerBg" (click)="selJewel(200,2)" [ngClass]="{'active':selType==2}">
        <img src="../../assets/images/icon-diamond-2.png" alt="">
        <p>200钻石</p>
      </div>
    </div>
    <div class="jewelItem fl">
      <div class="innerBg" (click)="selJewel(500,3)" [ngClass]="{'active':selType==3}">
        <img src="../../assets/images/icon-diamond-3.png" alt="">
        <p>500钻石</p>
      </div>
    </div>
    <div class="jewelItem fl">
      <div class="innerBg" (click)="openSelJewel()" [ngClass]="{'active':selType==4}">
        <img src="../../assets/images/icon-diamond.png" alt="">
        <p class="otherJewel" [ngClass]="{'active':selType!=4}">自定义钻石</p>
        <p class="otherJewel" [ngClass]="{'active':selType==4}">{{inputJewelNum}}钻石</p>
      </div>
    </div>
  </div>
  <div class="voteArea">
    <div class="voteBtn voteRed" (click)="openVoteWrap('1')">
      <h3 class="tc">投票红</h3>
      <p class="tc">
        热度:100%
      </p>
    </div>
    <div class="reaIcon">

    </div>
    <div class="voteBtn voteGreen" (click)="openVoteWrap('2')">
      <h3 class="tc">投票红</h3>
      <p class="tc">
        热度:100%
      </p>
    </div>
  </div>
</div>
<div vertical class="inputJewelNum" [ngClass]="{'active':isShowIptJewel}">
  <div class="formWrap">
    <div class="formCon">
      <div class="inputWrap">
        <input type="number" [(ngModel)] = "inputJewelNum" placeholder="请输入50~500" class="iptJewelNum tc disbl fl" >
        <p class="iptDesc fr">钻石</p>
      </div>
      <div class="btnWrap">
        <div class="btnCtr btnOk active fl" (click)="confirmInputJewel()">确认</div>
        <div class="btnCtr btnCancel fr" (click)="closeSelJewel()">取消</div>
      </div>
    </div>
  </div>
</div>
<!--投票弹出框-->
<div vertical class="inputJewelNum voteWrap" [ngClass]="{'active':isShowVoteWrap}">
  <div class="formWrap">
    <div class="formCon">
      <div class="voteInfo">
        <ul class="w100">
          <li class="w100">游戏类型：{{voteData.type}}</li>
          <li class="w100">最新指数：{{voteData.index}}</li>
          <li class="w100">
            所选阵营：
            <span class="selType" [ngClass]="{'active':voteData.selType=='1'}" style="color: red">红</span>
            <span class="selType" [ngClass]="{'active':voteData.selType=='2'}" style="color: green">绿</span>
          </li>
          <li class="w100">投票钻石：{{voteData.jewelNums}}</li>
          <li class="w100">所选周期：{{voteData.cycel}}</li>
          <li class="w100">
            代金券：
            <span class="Chit" (click)="selChit()"><i class="selChitIcon" [ngClass]="{'active':voteData.chit}"></i>使用一张(一张可用)</span>
          </li>
        </ul>
      </div>
      <div class="btnWrap">
        <div class="btnCtr btnOk active fl" (click)="closeVoteWrap()">确认</div>
        <div class="btnCtr btnCancel fr" (click)="closeVoteWrap()">取消</div>
      </div>
    </div>
  </div>
</div>
