<div class="logIn registRoot" [ngStyle] = "{'min-height':elHeight}">
  <div class="logInFormBox">
    <div class="formBoxTitle tc">
      用户注册
    </div>
    <div class="form">
      <div class="inputCtr uNameBox">
        <div class="iptIcon lIcon">
          <img src="../../assets/images/icon_phone.png" alt="">
        </div>
        <input type="text" placeholder="请输入手机号码" class="logInuName">
        <div class="iptIcon rIcon"></div>
      </div>
      <div class="inputCtr uPwdBox">
        <div class="iptIcon lIcon">
          <img src="../../assets/images/icon_invite.png" alt="">
        </div>
        <input type="text" class="logInuPwd" placeholder="请输入邀请码">
      </div>
    </div>
    <button feedButton class="logInBtn bigBtn">
      下一步
    </button>
  </div>
</div>
